<div class="containe">
  <div class="car">
    <div class="card-header">
      <h3>Add Credit Card</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="number">Number</label>
          <input type="text" [(ngModel)]="creditCard.number" name="number" class="form-control" maxlength="16">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" [(ngModel)]="creditCard.type" name="type" class="form-control">
        </div>
        <div class="form-group">
          <label for="clients">Client</label>
          <select [(ngModel)]="creditCard.client" name="clients">
            <option *ngFor="let client of clients;" [ngValue]="client">
              {{client.name}}
            </option>
          </select>
        </div>
        <button (click)="save(creditCard)" class="btn btn-danger">Save</button>
      </form>
    </div>
  </div>
</div>
