<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/client-list">Home (Client)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adviser-list">Advisors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/credit-card-list">Credit Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/audit-list">Audit</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
